/* whole document*/
*{
    box-sizing: border-box;
}

body{
    margin: 0;
}

@media screen and (max-width: 414px) {
    .footer {
      grid-template-columns: 100%;
    }
  }


/*NavBar*/
.nav{
    background-color: rgb(8, 166, 171);
    color: whitesmoke;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    gap: 2rem;
    align-items: center;
}

.nav a{
    text-decoration: none;
}

.site-title{
    color: rgb(155, 172, 174);
    text-align: center;
    font-size: 5rem;
    padding: 0 1rem;
    font-family: 'Brush Script MT';
}

/*About Component*/
.about-photo{
    width: 300px; 
    height: 300px; 
    object-fit: cover; 
    margin: 0 auto; 
    display: block; 
    border-radius: 10px;
}

.about{
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
}

.about p{
    text-indent: 50px;
    font-family: 'Noto Sans', sans-serif;
}

.about h1, h3{
    text-align: center;
    font-family: 'Leelawadee UI';
    color: rgb(79, 101, 102);
}

hr {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    margin-top: 20px;
    margin-bottom: 20px;
}

/*Footer Component*/
.contact-us {
	float: left;
	
}

form input, textarea {
	padding: 5px;
	border-radius: 5px;
	width: 240px;
}

form input [type="submit"] {
	width: 250px;
}

.submit-button-wrapper {
	margin: 20px 0;
}

#submit-button {
	background-color: #1C315E;
    color: whitesmoke;
}

/*Home component*/
.home{
    font-family: 'Noto Sans', sans-serif;
    text-align: center; 
    padding: 0;
    margin: 0;
    display: inline;
    line-height: 1;
}

.home h2{
    color: rgb(79, 101, 102);
    font-family: 'Leelawadee UI';
}

.home p{
    line-height: 0;
}

/*FiberVibesListings*/
@media (min-width: 768px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .card {
        width: 45%; 
        margin: 10px; 
    }
}
.listing-image {
    width: 100%; 
    height: 300px; 
    object-fit: cover; 
  }

.card-container{
    text-align: center;
    
}

.card{
    font-family: 'Noto Sans', sans-serif;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
	padding: 4%;
	position: relative;
    border-radius: 5px;
    border: 3px solid rgb(8, 166, 171);
    padding: 20px 20px 50px 20px;
}

.card h3{
    color: rgb(79, 101, 102);
    font-family: 'Leelawadee UI';
}